.speech { 
    font-family:"Times New Roman";
    font-size:12pt;
    color:black;
}

.direction { 
    font-family:"Courier";
    font-size:14pt;
    color:black;
    background-color:lightgrey;
}

.direction.hover {
    color:white;
    background-color:darkgrey;
}

.serebrakoff{
    color:red;
}

.marina{
    color:green;
}

.helena{
    color:blue;
}

.voitski{
    color:orange;
}

.sonia{
    color:blueviolet;
}