.speech { 
    font-family:"Arial";
    font-size:10pt;
    color:black;
}

.direction { 
    font-family:"Courier";
    font-size:14pt;
    color:black;
    background-color:lightgrey;
}

.direction:hover {
    color:white;
    background-color:darkgrey;
}

.serebrakoff{
    color:red;
}

.marina{
    color:green;
}

.helena{
    color:blue;
}

.voitski{
    color:orange;
}

.sonia{
    color:blueviolet;
}

table, th, td{
    border:1px;
    border-style:solid;
    border-color:black;
    border-collapse:collapse;
    text-align:center;
    padding:4px;
    margin:4px;
}



tr:nth-child(odd){
    background-color: lightgray;
}